[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"

[dev-packages]
neovim = "*"
jedi = "*"
pynvim = "*"
pylint = "*"
pytest-watcher = "*"
parameterized = "*"

[requires]
python_version = "3.12"
